html{
    height:100%;
}
body{
    font-family:'Cabin', sans-serif, Arial;
    color: aliceblue;
    background-color: #3e619b;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center center;
    background-attachment: fixed;
    height:inherit;
    background-image: url("../img/weather/atmwith_the_wind_by_ryky-d9orj7n.png");
}
#webpagewrapper{
    background: black;
    background-size:cover;
    opacity:0.7;
    height: inherit;
}
#textwrap{
    opacity: 1;
}
#weatherTitle{
    font-size: 5vw;
}
.weatherInfo{
    font-size: 2vw;
}
#introLoc{
    font-size: 3vw;
}
#tempcontainer{
    font-size: 2vw;
}
#tempDisp{
    font-weight:bold;
}
#tempDisp.value{
    font-weight: normal;
}