html,body{
     height:100%;
 }
#search-content-wrapper{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height:100%;
    width: 100%;
}
#search{
    width: 50vw;
}
#result-content-wrapper{
    display:none;
}
.result{
    text-decoration: none !important;
    color:black !important;
}
.result:hover
{
    color:#42b3f4 !important;
    text-decoration:none !important;
    cursor:pointer !important;
}